
@{
    ViewBag.Title = "particular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>particular</h2>


<h1>@ViewBag.n</h1>

<ul>
    <li>Genre : @ViewBag.genre</li>
    <li>Release Date : @ViewBag.release</li>
    <li>Date added : @ViewBag.nis</li>
    
</ul>

